<div class="container" style="margin-bottom: 120px">

  <h2>黑白设计嗜(B&W)
  </h2>
  <p>我们专注黑白、专注设计、专注创意，用最好的面料，打造最有创意的文化衫</p>
  <blockquote>
    <p class="lead">最新创意文化衫：根据实时焦点事件，每两周推出一款实时元素的创意文化衫，属于快销产品；</p>
    <p class="lead">历史创意文化衫：新品上市后，之前的新品自动降级为历史创意文化衫；</p>
    <p class="lead">时尚文化衫：设计思路上加入最新时尚元素，紧跟时尚潮流，推广B&W品牌，每一个产品会有一个独立编号，属于高端产品；</p>
    <p class="lead">情侣文化衫统一版：每个产品会有两个版本（男版和女版），男版和女版设计上会有略微差别，但是内容相互呼应；</p>
    <p class="lead">情侣文化衫定制版：支持根据客户需求，设计情侣文化衫，定制版文化衫价格高于普通统一版一倍；</p>
    <p class="lead">班服设计：承接各种团体T恤设计，根据订单数量和加急程度，收取不同的费用，订单数量大，会有一定优惠。</p>
  </blockquote>
  <!-- <br>
<p><strong>更多详细描述请参考Wiki上相关条目：</strong><p>
  <ul>
 <li><a href="https://zh.wikipedia.org/wiki/低碳水化合物飲食"> [低碳水化合物饮食]</a></li>
 <li><a href="https://zh.wikipedia.org/wiki/生酮飲食"> [生酮饮食]</a></li>
 <li><a href="https://zh.wikipedia.org/wiki/阿特金斯健康饮食法"> [阿特金斯健康饮食法]</a></li>
 </ul>
<hr>

<h2>黑白设计嗜(B&W)</h2>
<blockquote>
<p class="lead bg-warning">我们<b style="color: #00bfff;">不提倡、不反对，也不争论</b>任何形式的饮食结构。</p>
<p class="lead">饮食结构的选择是个人行为，我们只是面对低碳水化合物食物这一饮食倾向提供服务。</p>
</blockquote> -->

</div>
<p class="text-center">如果您有任何疑问或者建议，请联系我们：<br>
  @TinkleJane<br>
</p>
