/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";

.btn-base{
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}
.btn-normal{
      @extend.btn-base;
      color: #fff;
      background-color: #000;
      border-color: #000;
    }

.btn-wight, .btn-normal:hover{
  @extend.btn-base;
      color: #000;
      background-color: #fff;
      border-color: #000;
    }

.btn-wight:hover{
  @extend.btn-base;
  background-color: #EEE;
  width: 100%;
}

.btn-small{
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-small:hover{
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-grey{
  color: #fff;
  background-color: #636363;
  border-color: #636363;
}

.btn-grey:hover{
  color: #636363;
  background-color: #fff;
  border-color: #636363;
}
.user_container{
  background: #fff;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 1px solid #555;
  border-radius: 25px;
}

.content_container{
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

#hiuser{
  display: block;
  line-height: 4.4rem;
  height: 4.4rem;
  padding: 0 1.7rem;
  border: 0;
  margin: 0;

  font-size: 1.4rem;
  color: #F1F1F1;
}

.navbar-default {
    background-color: #000;//背景颜色
    border-color: #000;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

.navbar-default .navbar-brand {
   color: #fff;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bdc3c7;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
}

/*===== Header image =====*/
.category-header-image img {
    // background: image_url("black-white-party.jpg");
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*===== Categories 首页-商品分类 =====*/
.fp-section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%
}

/*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  height: 200px;
  background: image_url("bottom_image.jpg") no-repeat scroll top center/ cover;
}

/*===== Show 商品详情-图片 =====*/
.list-image{
  width: 100%;
}

.list-image-active {
      box-shadow: 1.5px 1.5px 1.5px #666;
    }
