/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import 'slick';
@import 'slick-theme';

.btn-base{
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}
.btn-normal{
      @extend.btn-base;
      color: #fff;
      background-color: #000;
      border-color: #000;
    }

.btn-wight, .btn-normal:hover{
  @extend.btn-base;
      color: #000;
      background-color: #fff;
      border-color: #000;
    }

.btn-wight:hover{
  @extend.btn-base;
  background-color: #EEE;
  width: 100%;
}

.btn-small{
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.radio-group.active{
  @extend.btn-small;
  width: 100px;
}

.btn-small:hover, .radio-group{
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-grey{
  color: #fff;
  background-color: #636363;
  border-color: #636363;
}

.btn-grey:hover{
  color: #636363;
  background-color: #fff;
  border-color: #636363;
}
.user_container{
  background: #fff;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 1px solid #555;
  border-radius: 25px;
}

.content_container{
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

#hiuser{
  display: block;
  line-height: 4.4rem;
  height: 4.4rem;
  padding: 0 1.7rem;
  border: 0;
  margin: 0;

  font-size: 1.4rem;
  color: #F1F1F1;
}

.navbar-default {
    background-color: #000;//背景颜色
    border-color: #000;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 3px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

.navbar-default .navbar-brand {
   color: #fff;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #777;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
 {
    color: #777;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #000;
}

/*===== Header image =====*/
.category-header-image img {
    // background: image_url("black-white-party.jpg");
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*===== Categories 首页-商品分类 =====*/
.fp-section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%
}

/*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  height: 200px;
  background-position: center 80%;
  background: image_url("bottom_image.jpg") no-repeat scroll top center/ cover;
  position: relative;
}

/*===== Show 商品详情-图片 =====*/
.list-image{
  width: 100%;
}

.list-image-active {
      box-shadow: 1.5px 1.5px 1.5px #666;
    }

    footer {
        padding: 15px 0
    }

    footer ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none
    }

    footer ul li {
        display: inline-block
    }

    footer ul li a {
        color: inherit;
        padding: 15px;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 3px;
        text-decoration: none;
        position: relative;
        display: block
    }

    footer ul li a:hover {
        text-decoration: none
    }

    footer .copyright {
        padding: 15px 0
    }

    footer .copyright .material-icons {
        font-size: 18px;
        position: relative;
        top: 3px
    }

footer .footer_icon li .btn-weixin {
    background-color: #333
}

footer .footer_icon li .btn-weibo {
    background-color: #CD201F
}

footer .footer_icon li .btn-facebook {
    background-color: #3b5998
}

footer .footer_icon li .btn-linkedin {
    background-color: #0976b4
}

footer .footer_icon{
  color: #FFFFFF;
}

.btn.btn-just-icon,.navbar .navbar-nav>li>a.btn.btn-just-icon {
    font-size: 18px;
    padding: 10px 10px;
    line-height: 1em
}

.btn.btn-round,.navbar .navbar-nav>li>a.btn.btn-round {
    border-radius: 30px
}

.all_image_css {
    transition: 0.8s;
    margin-left: auto;
    margin-right: auto;
}

.all_image_css:hover {
    filter: alpha(Opacity=100);
    -moz-opacity: 0.4;
    opacity: 0.7;
    transition: 0.8s
}

/* 页脚 */
.footer {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

body {
    font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: #f9f9fa;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
}
