// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-center{
  font-size: 4em !important;
  background-color: #CECDCD;
  color: #fff;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7
}

.section-heading {
    margin-bottom: 30px
}

.lead {
    font-size: 18px;
    font-weight: 400
}

body {
    color: #6d7679;
    font-family: arial;
    font-weight: normal;
    line-height: 1.5;
}
.section-medium {
    background-color: #edf0f1;
    padding: 3rem 0;
}
h3 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3125rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.week-title{
  font-size: 5rem;
  margin-bottom: 30px;
  background-color: #000;
  color: #fff;
  width: 300px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.week-title:hover, .week-title:focus{
  font-size: 6rem;
  margin-bottom: 30px;
}

section .columns:hover,
section .columns:focus {
  box-shadow: 10px 10px 50px 1px #d8d8d8;
}

.img-slogo{
  display: block;
  background-position: center 80%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 100%;
  min-width: 960px;
  height: 100px;
  position: relative;
}

.short-line {
    display: block;
    background: #000;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 53;
    width: 50px;
    height: 3px;
    position: relative;
}

.content-push{
  display: block;
  width: 100%;
  min-height: 430px;
  min-width: 960px;
  background-color: #f2f2f2;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.content-push h2 {
    font-size: 1.428em;
    text-align: center;
    padding-bottom: 60px;
    letter-spacing: 3px;
}

.user-block {
    padding-left: 30px;
    float: left;
    width: 380px;
}

.user-block .img {
    float: left;
    width: 90px;
    text-align: center;
}

.user-block .name {
    float: left;
    width: auto;
    padding: 0 20px;
}

.user-block .name span {
    font-size: 1.15em;
    line-height: 22px;
    font-weight: bold;
}

.user-block .name p {
    padding-top: 13px;
    font-size: 1em;
    line-height: 25px;
    color: #666;
}

.user-block .talk {
    padding-top: 20px;
    display: block;
    clear: both;
    width: 350px;
    line-height: 24px;
}

.online-pk{
  padding-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.online-img{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.oldshow-img{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  height: 150px !important;
  width: auto;
  position: relative;
}

.hidden-div{
  display: none;
}

// slick old works
.slick-container{

}

.slick-slide .image{padding:10px;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:30px auto 50px;}
.subheading{color:#555;font-size:12px;font-style:italic;font-weight:400;margin:10px auto;text-align:center;}

.slick_container{
  margin: 0 auto;
  max-width: 800px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

.showold_container{
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

.show-list{
  margin-left:auto;
  margin-right: auto;
  max-width: 1380px;
  height:200px;
  overflow-x:auto;
  overflow-y:hidden;
}
