<div class="row">
  <div class="content_container">
    <%= render :partial => "search_bar" %>

    <div id="product-list">
      <%= render :partial => "product_list", locals: {products: @products} %>
    </div>
  </div>
</div>
